.post-comments {
  padding: 0 0 3rem 0;
}

.post-comments > h1 {
  font-size: 2rem;
  margin-bottom: .5rem;
}

.post-comments > h1 svg {
  display: inline;
  fill: #333;
}

.post-comments > h2 {
  margin-bottom: 0;
  border-bottom: 1px solid #333;
  font-size: 1.6rem;
}
