.currently-reading {
  width: 18%;
  padding: .5rem 1rem;
  color: #fff;
}

.currently-reading h1,
.currently-reading .book-title {
  font-size: 2.4rem;
}

.currently-reading .book-author {
  font-size: 1.8rem;
}

.currently-reading img {
  position: relative;
  width: calc(100% + 2rem);
  left: calc(15% - 1rem);
}
