/* Landscape tablets */
@media (max-width: 1024px) {
  .navigation-post-summary .summary .books {
    height: 5rem;
  }

  .navigation-post-summary .summary .books .book {
    height: 5rem;
    margin-right: .2rem;
  }
}

/* Landscape smartphones and portrait tablets */
@media (max-width: 719px) {
  .navigation-post-summary {
    max-width: none;
  }

  .navigation-post-summary {
    margin-bottom: 2rem;
  }

  .navigation-post-summary > h1 {
    margin-bottom: .5rem;
    font-size: 1.6rem;
  }

  .navigation-post-summary .summary h1 {
    font-size: 1.3rem;
  }
}
