.post-navigation > a {
  position: relative;
  display: inline-block;
  margin: 1rem 0 2rem;
  font-size: 1.3rem;
  font-style: italic;
}

.post-navigation > a::before {
  content: '';
  position: absolute;
  width: calc(100% - .1rem);
  height: 1px;
  top: 2rem;
  left: .1rem;
  background-color: #1a1a1a;
  transform-origin: left;
  transform: scaleX(.2);
  transition: transform .3s ease-in-out, background-color .3s;
}

.post-navigation > a:hover::before {
  background-color: #808080;
  transform: scaleX(1);
}

.post-navigation > a::after {
  content: '';
  position: absolute;
  top: 1.75rem;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: .3rem .6rem .3rem 0;
  border-color: transparent #1a1a1a transparent transparent;
  transition: border-color .3s;
}

.post-navigation > a:hover::after {
  border-color: transparent #808080 transparent transparent;
}

.post-navigation footer {
  display: flex;
  justify-content: space-between;
  margin: 0 -5rem;
  padding: 2rem 5rem;
  background-color: #f2f2f2;
}
